# Data Science Tools and Ecosystem

in this notebook, Data Science Tools and Ecosystem are summarized

**Objectives**
+ Naming some of the popular languages in Data Science.
+ Naming some of the commonly used libraries in Data Science.
+ Naming some of Data Science Tools.
+ Creating Examples of arithmetics expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 

1. Pandas 
2. Numpy
3. Matplotlib
4. ggplot
5. caret

|Data Science Tools|
|-------------------|
| Jupyter Notebook |
| Rstudio |
| GitHub |

### Below are a few examples of evaluating arithmetics expressions in Python:

In [1]:
# This is a simple arithmetics expresssion to multiply then add integers 
y=(3*4)+5
print(y)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
x= 200/60
print(x)

3.3333333333333335

## Author
Khalid Hisham